body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background-image: url("./assets/images/moon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
body header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
body main {
  padding: 20px;
}
body main .order-details {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body main .order-details .order-summary-container {
  margin-top: 20px;
}
body main .order-details .hh-grayBox {
  background-color: #f8f8f8;
  margin-bottom: 20px;
  padding: 35px;
  margin-top: 20px;
}
body main .order-details .pt45 {
  padding-top: 45px;
}
body main .order-details .order-tracking {
  text-align: center;
  width: 33.33%;
  position: relative;
  display: block;
}
body main .order-details .order-tracking .is-complete {
  display: block;
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 0px solid #afafaf;
  background-color: #f7be16;
  margin: 0 auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  z-index: 2;
}
body main .order-details .order-tracking .is-complete::after {
  display: block;
  position: absolute;
  content: "";
  height: 14px;
  width: 7px;
  top: -2px;
  bottom: 0;
  left: 5px;
  margin: auto 0;
  border: 0px solid #afafaf;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}
body main .order-details .order-tracking p {
  color: #a4a4a4;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0;
  line-height: 20px;
}
body main .order-details .order-tracking p span {
  font-size: 14px;
}
body main .order-details .order-tracking::before {
  content: "";
  display: block;
  height: 3px;
  width: calc(100% - 40px);
  background-color: #f7be16;
  top: 13px;
  position: absolute;
  left: calc(-50% + 20px);
  z-index: 0;
}
body main .order-details .order-tracking:first-child:before {
  display: none;
}
body main .order-details .order-tracking.completed .is-complete {
  border-color: #27aa80;
  border-width: 0px;
  background-color: #27aa80;
}
body main .order-details .order-tracking.completed p {
  color: #000;
}
body main .order-details .order-tracking.completed .is-complete:after {
  border-color: #fff;
  border-width: 0px 3px 3px 0;
  width: 7px;
  left: 11px;
  opacity: 1;
}
body main .order-details .order-tracking.completed::before {
  background-color: #27aa80;
}
body #home-page-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}